:root {
  --font-alt: 'IBM Plex Sans', sans-serif;
  --font-main: 'IBM Plex Serif', serif;
}

/* ВКЛЮЧАЕМ ПЕРЕНОСЫ В ТЕКСТЕ */
.hyphens_on {
  word-wrap: normal;
  hyphens: normal;
}
/* OVER */

/* ВЫКЛЮЧАЕМ ПЕРЕНОСЫ В ТЕКСТЕ */
.hyphens_off {
  word-wrap: none;
  hyphens: none;
}
/* OVER */

/* ВКЛЮЧАЕМ POSITION СТИКИ НА ЭЛЕМЕНТЕ  */
.sticky {
  position: sticky !important;
}
/* OVER  */

/* ВЫКЛЮЧАЕМ ВОЗОЖНОСТЬ ВЫДЕЛЕНИЯ НА ЭЛЕМЕНТЕ  */
.noselect {
  user-select: none;
}
/* OVER  */
/* ВЫКЛЮЧАЕМ ВОЗОЖНОСТЬ draggable НА ЭЛЕМЕНТЕ  */
.noDraggble {
  user-drag: none;
}
/* OVER  */

[data-ui-id='post'] {
  .villageSpecial__container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    width: 100%;

    .container__wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;

      width: 100%;

      img {
        width: 100%;
        height: auto;

        user-select: none;
        user-drag: none;
      }

      a {
        text-decoration: underline;
        color: inherit;
      }

      * {
        box-sizing: border-box;
        list-style: none;
      }
      input,
      button {
        padding: 0;
        margin: 0;

        outline: none;
      }

      button,
      a {
        border: none;
        background: none;
        color: inherit;
      }
      ul,
      ol,
      li,
      h1,
      h2 {
        margin: 0;
        padding: 0;

        list-style: none;
      }
    }
  }
}

@media screen and (min-width: 850px) {
  [data-ui-id='post'] .villageSpecial__container .interactiveItem {
    will-change: opacity, transform;
    transition: 0.3s opacity, 0.2s transform;

    cursor: pointer;
    &:hover {
      opacity: 0.7;
    }
    &:active {
      transform: scale(0.95);
    }
  }
}
@media screen and (max-width: 850px) {
  [data-id='vtb-multibonus-1391'] .villageSpecial__container .interactiveItem {
    will-change: opacity, transform;
    transition: 0.3s opacity, 0.2s transform;

    cursor: pointer;
    &:active {
      opacity: 0.7;
    }
    &:active {
      transform: scale(0.95);
    }
  }
}
